<app-field
  [fieldType]="'toggle'"
  [label]="label()"
  [placeholder]="placeholder()"
  [helpText]="helpText()"
  [errorText]="errorText()"
  [warningText]="warningText()"
  [successText]="successText()"
  [required]="required()"
  [disabled]="disabled()"
  [readonly]="readonly()"
  [autocomplete]="autocomplete()"
  [id]="id()"
  [name]="name()"
  [state]="state()"
  [size]="size()"
>
  <div class="field__toggle">
    <input
      [id]="id()"
      [name]="name()"
      type="checkbox"
      [checked]="value"
      [disabled]="disabled()"
      [readonly]="readonly()"
      (change)="onToggleChange($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      class="field__toggle-input"
    />
    <label
      [for]="id()"
      class="field__toggle-label"
      [class.required]="required()"
    >
      {{ label() }}
    </label>
  </div>
</app-field>
