<section>
  <h1>Issue Details</h1>
  <p>View details of an issue.</p>
  @let issueData = issue();
  <div>
    <button [routerLink]="['/issues']">Back</button>
    @if (issueData && isAuthenticated()) {
      <button [routerLink]="['/issues', issueData.id, 'edit']">Edit</button>
      <button (click)="deleteIssue()">Delete</button>
    }
  </div>
  @if (issueData) {
    <main>
      <h1>Title: {{ issueData.title }}</h1>
      <p>Description: {{ issueData.description }}</p>
      <p>Priority: {{ issueData.priority }}</p>
      <p>Created At: {{ issueData.createdAt | date: 'short' }}</p>
      <p>Updated At: {{ issueData.updatedAt | date: 'short' }}</p>
      <p>Created By: {{ issueData.createdBy }}</p>
      <p>Updated By: {{ issueData.updatedBy }}</p>
      <h2>Acceptance Criteria</h2>
      <ul>
        @if (issueData.acceptanceCriteria.length > 0) {
          @for (acceptanceCriterion of issueData.acceptanceCriteria; track acceptanceCriterion.id) {
            <li>{{ acceptanceCriterion.content }}</li>
          }
        } @else {
          <p>No acceptance criteria found</p>
        }
      </ul>
    </main>
  } @else {
    <p>Issue not found</p>
  }
</section>
