<app-toast-container></app-toast-container>
<app-button-showcase></app-button-showcase>
<app-text-showcase></app-text-showcase>
<app-number-showcase></app-number-showcase>
<app-tel-showcase></app-tel-showcase>
<app-tabs
  [tabs]="tabs()"
  [activeTabId]="activeTabId()"
  (activeTabIdChange)="activeTabId.set($event)"
  (tabChange)="activeTabId.set($event)"
>
  <app-tab-panel tabId="tab1" [activeTabId]="activeTabId()">
    @if (activeTabId() === 'tab1') {
      <app-items-list></app-items-list>
    }
  </app-tab-panel>
  <app-tab-panel tabId="tab2" [activeTabId]="activeTabId()">
    @if (activeTabId() === 'tab2') {
      <app-items-infinite-list></app-items-infinite-list>
    }
  </app-tab-panel>
</app-tabs>
<router-outlet></router-outlet>
