<div [class]="getToolbarClasses()">
  @for (item of toolbarItems(); track item.id) {
    @if (isDivider(item)) {
      <app-divider
        [orientation]="orientation() === 'horizontal' ? 'vertical' : 'horizontal'"
        class="toolbar__divider"
      />
    } @else {
      <div [class]="getItemClasses(item)">
        @if (item.type === 'custom') {
          <ng-content />
        } @else {
          <app-button
            [variant]="getButtonVariant(item)"
            [size]="getButtonSize()"
            [iconOnly]="isIconOnly(item)"
            [icon]="item.icon || ''"
            [selected]="item.selected || false"
            [disabled]="item.disabled || false"
            [ariaLabel]="item.ariaLabel || item.label || item.tooltip || ''"
            [attr.title]="item.tooltip || item.label || ''"
            (click)="onItemClick(item, $event)"
            class="toolbar__button"
          >
            @if (item.label && !isIconOnly(item)) {
              {{ item.label }}
            }
          </app-button>
        }
      </div>
    }
  }
</div>
