<div [class]="treeClasses()" role="tree" [attr.aria-label]="'Tree view'">
  @for (node of nodes(); track node.id) {
    <app-tree-node
      [node]="node"
      [size]="size()"
      [showSelectionIndicator]="showSelectionIndicator()"
      [indicatorPosition]="indicatorPosition()"
      [variant]="variant()"
      [chevronPosition]="chevronPosition()"
      [chevronIconCollapsed]="chevronIconCollapsed()"
      [chevronIconExpanded]="chevronIconExpanded()"
      [asButton]="asButton()"
      [expandOnClick]="expandOnClick()"
      [selectOnClick]="selectOnClick()"
      [showQuickActions]="showQuickActions()"
      [quickActionsTemplate]="quickActionsTemplate() || null"
      (nodeClick)="onNodeClick($event)"
      (nodeToggle)="onNodeToggle($event)"
      (nodeSelect)="onNodeSelect($event)"
    >
      @if (contentTemplate()) {
        <ng-template #content let-node>
          <ng-container
            *ngTemplateOutlet="contentTemplate()!; context: { $implicit: node }"
          ></ng-container>
        </ng-template>
      }
    </app-tree-node>
  }
</div>
