<div [class]="fieldClasses()">
  <!-- Label -->
  @if (label() && fieldType() !== 'checkbox' && fieldType() !== 'radio') {
    <label [for]="id()" class="field__label" [class.required]="required()">
      {{ label() }}
    </label>
  }
  <div class="field__wrapper">
    <ng-content></ng-content>
  </div>

  <!-- Help Text -->
  @if (helpText() && state() !== 'error' && state() !== 'success' && state() !== 'warning') {
    <span class="field__help">
      {{ helpText() }}
    </span>
  }

  <!-- Error Text -->
  @if (errorText() && state() === 'error') {
    <span class="field__error">
      {{ errorText() }}
    </span>
  }

  <!-- Warning Text -->
  @if (warningText() && state() === 'warning') {
    <span class="field__warning">
      {{ warningText() }}
    </span>
  }

  <!-- Success Text -->
  @if (successText() && state() === 'success') {
    <span class="field__success">
      {{ successText() }}
    </span>
  }
</div>
