<app-field
  [fieldType]="'number'"
  [label]="label()"
  [placeholder]="placeholder()"
  [helpText]="helpText()"
  [errorText]="errorText()"
  [warningText]="warningText()"
  [successText]="successText()"
  [required]="required()"
  [disabled]="disabled()"
  [readonly]="readonly()"
  [autocomplete]="autocomplete()"
  [id]="id()"
  [name]="name()"
  [state]="state()"
  [size]="size()"
>
  <input
    [id]="id()"
    [name]="name()"
    type="number"
    [class]="inputClasses()"
    [placeholder]="placeholder()"
    [required]="required()"
    [disabled]="disabled()"
    [readonly]="readonly()"
    [step]="step()"
    [autocomplete]="autocomplete()"
    [value]="value"
    (input)="onInputChange($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (keyup)="onKeyUp($event)"
    (keydown)="onKeyDown($event)"
  />
</app-field>
