<section>
  <h1>Create Issue</h1>
  <p>Create a new issue.</p>
  <div>
    <button [routerLink]="['/issues']">Back</button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" formControlName="title" />
      @if (form.controls.title.errors) {
        @if (form.controls.title.errors['required']) {
          <p>Title is required</p>
        }
        @if (form.controls.title.errors['minlength']) {
          <p>
            Title must be at least {{ issueConstraints.TITLE_MIN_LENGTH }} characters
          </p>
        }
      }
      @if (form.controls.title.errors?.['maxlength']) {
        <p>
          Title must be less than {{ issueConstraints.TITLE_MAX_LENGTH }} characters
        </p>
      }
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        formControlName="description"
      ></textarea>
      @if (form.controls.description.errors) {
        @if (form.controls.description.errors['required']) {
          <p>Description is required</p>
        }
        @if (form.controls.description.errors['maxlength']) {
          <p>
            Description must be less than
            {{ issueConstraints.DESCRIPTION_MAX_LENGTH }} characters
          </p>
        }
      }
    </div>
    <div>
      <label for="status">Status</label>
      <select id="status" name="status" formControlName="status">
        @for (status of issueStatuses(); track status.value) {
          <option [ngValue]="status.value">{{ status.label }}</option>
        }
      </select>
    </div>
    <div>
      <label for="priority">Priority</label>
      <select id="priority" name="priority" formControlName="priority">
        @for (priority of issuePriorities(); track priority.value) {
          <option [ngValue]="priority.value">{{ priority.label }}</option>
        }
      </select>
    </div>
    <div>
      <p>Acceptance Criteria</p>
      <div formArrayName="acceptanceCriteria">
        @for (acceptanceCriterion of acceptanceCriteria.controls; track $index) {
          <div [formGroupName]="$index">
            <input type="text" formControlName="content" />
            @if (acceptanceCriterion.controls.content.errors) {
              @if (acceptanceCriterion.controls.content.errors['required']) {
                <p>Acceptance criterion is required</p>
              }
              @if (acceptanceCriterion.controls.content.errors['maxlength']) {
                <p>
                  Acceptance criterion must be less than
                  {{ issueAcceptanceCriteriaConstraints.CONTENT_MAX_LENGTH }} characters
                </p>
              }
            }
            <button type="button" (click)="removeAcceptanceCriterion($index)">
              Remove Acceptance Criterion
            </button>
          </div>
        }
      </div>
      <button type="button" (click)="addAcceptanceCriterion()">Add Acceptance Criterion</button>
    </div>
    <button type="submit">Create Issue</button>
  </form>
</section>
