<div class="ds-tabs-container" [class]="containerClasses()">
  <!-- Tab List -->
  <div
    #tabList
    class="ds-tabs-list"
    [class]="tabListClasses()"
    role="tablist"
    [attr.aria-orientation]="orientation()"
    [attr.aria-label]="ariaLabel() || 'Tabs'"
    [attr.data-orientation]="orientation()"
    (keydown)="onTabListKeydown($event)"
  >
    <!-- Scroll Left Button -->
    @if (showScrollButtons() && canScrollLeft()) {
      <button
        type="button"
        class="ds-tabs-scroll-button ds-tabs-scroll-button--left"
        (click)="scrollLeft()"
        [attr.aria-label]="'Scroll tabs left'"
        tabindex="-1"
      >
        <app-icon name="chevron-left" size="sm" [decorative]="true"></app-icon>
      </button>
    }

    <!-- Tabs Scrollable Container -->
    <div
      #tabsContainer
      class="ds-tabs-container-scroll"
      [class.ds-tabs-container-scroll--scrollable]="isScrollable()"
      (scroll)="onTabsScroll($event)"
    >
      <!-- Tab Items -->
      @for (tab of tabs(); track tab.id; let i = $index) {
        <button
          #tabButton
          type="button"
          class="ds-tabs-tab"
          [class]="getTabClasses(tab, i)"
          [id]="generateTabId(componentId(), i)"
          role="tab"
          [attr.aria-selected]="isActiveTab(tab.id)"
          [attr.aria-controls]="generateTabPanelId(componentId(), i)"
          [attr.aria-disabled]="tab.disabled || tab.loading"
          [attr.tabindex]="getTabTabIndex(tab, i)"
          [disabled]="tab.disabled || tab.loading"
          (click)="selectTab(tab, i, $event)"
          (focus)="onTabFocus(tab, i, $event)"
          (blur)="onTabBlur(tab, i, $event)"
          (keydown)="onTabKeydown(tab, i, $event)"
        >
          <!-- Tab Icon -->
          @if (tab.icon) {
            <span class="ds-tabs-tab-icon" [innerHTML]="tab.icon"></span>
          }

          <!-- Tab Loading -->
          @if (tab.loading) {
            <span class="ds-tabs-tab-loading" aria-label="Loading">
              <app-icon name="cog" size="sm" [decorative]="true"></app-icon>
            </span>
          }

          <!-- Tab Label -->
          <span
            class="ds-tabs-tab-label"
            [class.ds-tabs-tab-label--has-close]="showCloseButton(tab)"
          >
            {{ tab.label }}
          </span>

          <!-- Tab Badge -->
          @if (tab.badge) {
            <span class="ds-tabs-tab-badge">{{ tab.badge }}</span>
          }

          <!-- Tab Close Button - Inside tab button like clearable select -->
          @if (showCloseButton(tab)) {
            <button
              type="button"
              class="ds-tabs-tab-close"
              (click)="closeTab(tab, i, $event)"
              (keydown)="onCloseButtonKeydown(tab, i, $event)"
              [attr.aria-label]="'Close ' + tab.label"
              tabindex="-1"
            >
              <app-icon name="x-mark" size="sm" [decorative]="true"></app-icon>
            </button>
          }
        </button>
      }
    </div>

    <!-- Scroll Right Button -->
    @if (showScrollButtons() && canScrollRight()) {
      <button
        type="button"
        class="ds-tabs-scroll-button ds-tabs-scroll-button--right"
        (click)="scrollRight()"
        [attr.aria-label]="'Scroll tabs right'"
        tabindex="-1"
      >
        <app-icon name="chevron-right" size="sm" [decorative]="true"></app-icon>
      </button>
    }
  </div>

  <!-- Tab Panels -->
  <div class="ds-tabs-panels" [class]="tabPanelsClasses()">
    @for (tab of tabs(); track tab.id; let i = $index) {
      <div
        class="ds-tabs-panel"
        [class]="getPanelClasses(tab, i)"
        [id]="generateTabPanelId(componentId(), i)"
        role="tabpanel"
        [attr.aria-labelledby]="generateTabId(componentId(), i)"
        [attr.aria-hidden]="!isActiveTab(tab.id)"
        [attr.tabindex]="isActiveTab(tab.id) ? '0' : '-1'"
        [attr.inert]="!isActiveTab(tab.id) ? true : null"
      >
        @if (isActiveTab(tab.id) || !lazy()) {
          @if (tab.template) {
            <!-- Template Content -->
            <ng-container [ngTemplateOutlet]="tab.template"></ng-container>
          } @else if (tab.content) {
            <!-- Text Content -->
            <div class="ds-tabs-panel-content">{{ tab.content }}</div>
          } @else {
            <!-- Empty Content -->
            <div class="ds-tabs-panel-empty">No content available</div>
          }
        }
      </div>
    }
  </div>
</div>
