<app-state-container
  [$state]="itemState()"
  [$loadingMessage]="'Ładowanie danych elementu...'"
  [$showEmptyState]="false"
  [$minHeight]="'auto'"
>
  <ng-template #contentTemplate>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="container">
      <div class="row">
        <div class="col-6">
          <app-text
            id="name"
            label="Nazwa"
            formControlName="name"
            placeholder="Nazwa..."
            size="sm"
          />
        </div>
        <div class="col-6">
          <app-number
            id="price"
            label="Cena"
            formControlName="price"
            placeholder="Cena..."
            step="0.01"
            size="sm"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-textarea
            id="description"
            label="Opis"
            formControlName="description"
            placeholder="Opis..."
            size="sm"
          />
        </div>
        <div class="col-12">
          <app-url
            id="image"
            label="Adres URL obrazu"
            formControlName="image"
            placeholder="Adres URL obrazu..."
            (input)="onImageUrlChange()"
            size="sm"
          />
        </div>
      </div>

      <!-- Form actions -->
      <div class="row row--justify-content-end gap-sm">
        <app-button (click)="onCancel()" [disabled]="isSubmitting()"> Anuluj </app-button>

        <app-button [disabled]="itemForm.invalid || isSubmitting()" (click)="onSubmit()">
          {{ isEditMode() ? 'Zaktualizuj' : 'Dodaj' }} element
        </app-button>
      </div>
    </form>
  </ng-template>
</app-state-container>
