<app-field
  [fieldType]="'checkbox'"
  [label]="label()"
  [placeholder]="placeholder()"
  [helpText]="helpText()"
  [errorText]="errorText()"
  [warningText]="warningText()"
  [successText]="successText()"
  [required]="required()"
  [disabled]="disabled()"
  [readonly]="readonly()"
  [autocomplete]="autocomplete()"
  [id]="id()"
  [name]="name()"
  [state]="state()"
  [size]="size()"
>
  <div class="field__checkbox">
    <input
      [id]="id()"
      [name]="name()"
      type="checkbox"
      [checked]="value"
      [disabled]="disabled()"
      (change)="onCheckboxChange($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
    />
    <label [for]="id()" class="field__label" [class.required]="required()">
      {{ label() }}
    </label>
  </div>
</app-field>
